<form action="#" method="POST">
  <fieldset>
    <label for=" first-name">Name</label>

    <div>
      <input type="text" name="first-name" id="first-name" autocomplete="given-name" />
    </div>
  </fieldset>

  <fieldset>
    <label for="email">Email</label>

    <div>
      <input type="email" name="email" id="email" autocomplete="email" />
    </div>
  </fieldset>

  <fieldset>
    <label for="message">Message</label>

    <div>
      <textarea name="message" id="message" rows="4"></textarea>
    </div>
  </fieldset>

  <fieldset>
    <button type="submit">Send message</button>
  </fieldset>
</form>
