{% if site.fonts.faces -%}
  {% capture fontstring %}
  {%- for font in site.data.fonts.fonts.faces -%}
    {% capture fontstack %}
      {{ font.name }}:ital,wght@

      {%- if font.weights -%}
        {%- for weight in font.weights -%}
          0,{{ weight.value }}_
        {%- endfor -%}

        {%- for weight in font.weights -%}
          {%- if weight.italic -%}
          1,{{ weight.value }}_
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {% endcapture %}

    {{- fontstack | split: '_' | compact | join: ';' -}}
  {%- endfor -%}
  {% endcapture %}

  {% if fontstring.size > 0 %}
    {%- capture fonts %}https://fonts.googleapis.com/css2?family={{ fontstring | split: ' ' | join: '&family=' }}{% endcapture %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{ fonts }}&display=swap" rel="stylesheet">
  {% endif %}
{% endif %}
