{% if site.fonts -%}
  {% capture fontstring %}
  {%- for font in site.data.fonts -%}
    {% capture fontstack %}
      {{ font.name }}:ital,wght@

      {%- if font.weight -%}
        {%- for weight in font.weight -%}
          0,{{ weight }}_
        {%- endfor -%}
        {%- for weight in font.weight -%}
          1,{{ weight }}_
        {%- endfor -%}
      {%- endif -%}
    {% endcapture %}

    {{- fontstack | split: '_' | compact | join: ';' -}}
  {%- endfor -%}
  {% endcapture %}

  {%- capture fonts %}https://fonts.googleapis.com/css2?family={{ fontstring | split: ' ' | join: '&family=' }}{% endcapture %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{{ fonts }}&display=swap" rel="stylesheet">
{% endif %}
