<div class="{% if include.class %}{{ include.class }} {% endif %}container--horizontal">
	{% if include.start %}
	<div class="separator--block-start">
		{% include components/corner-left-top.svg %}
	</div>
	{% endif %}

	<div class="{% if include.start or include.end %}separator--wrapper{% endif %} container--wrapper">
		<div class="container--vertical">
			{{ include.content }}
		</div>
	</div>

	{% if include.content-aside %}
	{{ include.content-aside }}
	{% endif %}

	{% if include.end %}
	<div class="separator--block-end">
		{% include components/corner-left-bottom.svg %}
	</div>
	{% endif %}
</div>
