{% assign items = page_nav | default: site.data.site-nav.items %}

<link rel="stylesheet" href="{{ '/assets/css/site-nav.css' | prepend: site.baseurl }}">

<input class="mobile-nav-input" id="site-nav-toggle" type="checkbox" style="display: none;" />

<div class="site-nav" aria-label="Global">
  <div class="site-nav__wrapper wrapper container--horizontal">
    <div class="site-nav__container container container--vertical">
      <a href="/" class="site-nav__logo">
        <span class="sr-only">{{ site.data.constants-site.title }}</span>

        {% include components/icon-dls.svg %}
      </a>

      <nav class="site-nav__list">
        {% include components/nav.html items=items recurse=true %}

        <div class="separator--block-end">
          {% include components/corner-right-bottom-shadow.svg %}
        </div>
      </nav>

      <label class="site-nav__toggle nav-toggle" for="site-nav-toggle">
        <span class="sr-only">Open Main Menu</span>

        <span class="nav-toggle__icon nav-toggle__icon--spacer"></span>

        <span class="nav-toggle__icon nav-toggle__icon--open">
          {% include components/icon-menu.svg %}
        </span>

        <span class="nav-toggle__icon nav-toggle__icon--close">
          {% include components/icon-close.svg %}
        </span>
      </label>

      <div class="site-nav__end-link">
        {% comment %}
        <a href="#" class="site-nav__login-link nav-link">
          <span class="site-nav__inner-text nav-link__text">Log In
            <span aria-hidden="true">&rarr;</span>
          </span>
        </a>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
