.content-card {
  background-color: $color-grey--white;
  @include padding($gutter);

  @media screen and (min-width: $bp-desktop) {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    @include border-radius-size($radius--medium);
  }

  &__heading {
    position: relative;
    display: inline-block;

    &--text {
      position: relative;
      z-index: 1;
      color: $color-grey--black;
      display: block;
      font-size: fs(x-large);
      line-height: 1.2;

      margin: -10px -20px;
      padding: 10px 20px;
      @include highlight(transparentize($color-primary, 0.8));

      @media screen and (min-width: $bp-desktop) {
        margin: 0;
      }
    }
  }

  &__leading {
    color: $color-grey--dark;
    font-size: fs(large);
    line-height: 1.2;
    @include margin-block-start($gutter);
  }

  .list {
    margin: 0;
  }

  .list-entry {
    position: relative;
    @include padding-inline-start($gutter--xl);
  }

  .list-entry__title {
    display: inline;
    font-weight: 600;
  }

  .list-entry__body {
    position: relative;
    display: inline;
    @include margin-inline-start(0);
  }

  .list-entry__title svg {
    position: absolute;
    height: $gutter--large;
    width: $gutter--large;
    inset-inline-start: 0;
    inset-block-start: $gutter--small;
  }
}


