<div>
  {% assign headings = 'h1, h2, h3' | split: ', ' %}
  {% for h in headings %}
  <div>
    <p class="styleguide-label">{{ h }}</p>
    <{{ h }}>Lorem ipsum dolor sit amet</{{ h }}>
    <{{ h }}><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></{{ h }}>
  </div>
  {% endfor %}
</div>

<div>
  {% assign base = base | replace: 'headings', 'heading' | split: '/' | last %}
  {% assign font-sizes = 'xl, large, big, base, small, tiny, micro' | split: ', ' %}
  {% for fs in font-sizes %}
  <div>
    <p class="styleguide-label">{{ fs }}</p>
    <p class="{{ base }}__{{ fs }}">Lorem ipsum dolor sit amet</p>
    <p class="{{ base }}__{{ fs }}"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></p>
  </div>
  {% endfor %}
</div>
