{% assign config = site.data.constants-site %}

{% if layout.css %}
<link rel="stylesheet" href="{{ layout.css | prepend: '/' | prepend: site.baseurl }}">
{% endif %}

{% if page.css %}
<link rel="stylesheet" href="{{ page.css | prepend: '/' | prepend: site.baseurl }}">
{% endif %}

{% if site.ownership %}
<link rel="me" href="{{ site.ownership }}">
{% endif %}
<link rel="shortcut icon" href="{{ '/assets/img/favicon-32x32.png' | prepend: site.baseurl }}" />
<link rel="author" href="{{ '/humans.txt' | prepend: site.baseurl }}" />
{% if config.logo %}<link rel="logo" type="image/svg" href="{{ config.logo }}" />{% endif %}

{% feed_meta %}
