---
layout: default
---

{% assign global = site.data.page-careers %}

{% capture content %}
<article class="content">
	<header class="header">
		<a href="/careers">&larr; Careers</a>
		<h1 class="header__heading">{{ page.title }}</h1>
		<dl class="position-details">
			<div>
				<dt>Level</dt>
				<dd>{{ page.level }}</dd>
			</div>

			<div>
				<dt>Salary</dt>
				<dd>{{ page.salary }}</dd>
			</div>

			<div>
				<dt>Location</dt>
				<dd>{{ page.location }}</dd>
			</div>
		</dl>
	</header>

	<section>
		<h2>About Us</h2>
		{{ global.job_post_about_us | markdownify }}
	</section>

	<section>
		<h2>The Opportunity</h2>
		{{ page.opportunity | markdownify }}
	</section>

	<section>
		<h2>Responsibilities</h2>
		{{ page.responsibilities | markdownify }}
	</section>

	<section>
		<h2>Requirements</h2>
		{{ page.requirements | markdownify }}
	</section>

	<section>
		<h2>Why Join Dancing Light Studios</h2>
		{{ global.job_post_why_join | markdownify }}
	</section>

	<section class="cta">
		<h2>How To Apply</h2>
		{{ global.job_post_how_to_apply | markdownify }}

		<div>
			<a href="#" class="button button--apply">Apply Now</a>
			<a href="#" class="button button--linkedin">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.--><path d="M100 448H7V149h93zM54 108C24 108 0 84 0 54a54 54 0 0 1 108 0c0 29-25 54-54 54zm394 340h-93V302c0-34 0-79-48-79s-56 38-56 77v148h-93V149h90v41h1c12-24 43-49 88-49 94 0 111 62 111 143v164z"/></svg>
				<span>LinkedIn</span>
			</a>
		</div>
	</section>
</article>
{% endcapture %}

{% include components/separator.html content=content start=false end=false class="career" %}
