---
layout: default
---

{% assign global = site.data.page-careers %}

{% capture content %}
<article class="content">
	<header class="header">
		<a href="/careers">&larr; Careers</a>
		<h1 class="header__heading">{{ page.title }}</h1>
		<dl class="position-details">
			<div>
				<dt>Level</dt>
				<dd>{{ page.level }}</dd>
			</div>

			<div>
				<dt>Salary</dt>
				<dd>{{ page.salary }}</dd>
			</div>

			<div>
				<dt>Location</dt>
				<dd>{{ page.location }}</dd>
			</div>
		</dl>
	</header>

	<section>
		<h2>About Us</h2>
		{{ global.job_post_about_us | markdownify }}
	</section>

	<section>
		<h2>The Opportunity</h2>
		{{ page.opportunity | markdownify }}
	</section>

	<section>
		<h2>Responsibilities</h2>
		{{ page.responsibilities | markdownify }}
	</section>

	<section>
		<h2>Requirements</h2>
		{{ page.requirements | markdownify }}
	</section>

	<section>
		<h2>Why Join Dancing Light Studios</h2>
		{{ global.job_post_why_join | markdownify }}
	</section>

	<section class="cta">
		<h2>How To Apply</h2>
		{{ global.job_post_how_to_apply_intro | markdownify }}

		{% include components/how-to-apply.html %}
	</section>
</article>
{% endcapture %}

{% include components/separator.html content=content start=false end=false class="career" %}
