---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/post.css' | prepend: site.baseurl }}">

<div class="c-post">
  <div class="c-post__wrapper wrapper">
    <div class="c-post__container container">
      <article>
        <img src="{{ page.hero-image.src }}" alt="{{ page.hero-image.alt }}">

        <header>
          <h1>{{ page.title }}</h1>
          <dl>
            {% if page.date %}
            <div>
              <dt><span>Date</span></dt>
              <dd>{{ page.date | date: "%Y-%m-%d" }}</dd>
            </div>
            {% endif %}

            {% if page.author %}
            <div>
              <dt><span>Author</span></dt>
              <dd>{{ page.author }}</dd>
            </div>
            {% endif %}

            {% if page.tags.size > 0 %}
            <div>
              <dt><span>Tags</span></dt>
              <dd>
                <ul>
                  {% for tag in page.tags %}
                    <li>{{ tag }}</li>
                  {% endfor %}
                </ul>
              </dd>
            </div>
            {% endif %}
          </dl>
        </header>

        {{ content }}
      </article>
    </div>
  </div>
</div>
