---
layout: default
---

{% capture hero-header %}
<header class="header">
	<a href="/campfire">&larr; Campfire</a>

	<h1 class="header__heading">{{ page.title }}</h1>

	<ul class="post-card__details post-details">
		<li class="post-details__item post-details__item--date">{{ page.date | date: "%Y-%m-%d" }}</li>
		<li class="post-details__item post-details__item--author">by {{ page.author }}</li>
	</ul>

	<div class="header__subheading">{{ page.excerpt | markdownify }}</div>
</header>
{% endcapture %}

{% include components/separator.html content=hero-header start=false end=true class='hero' %}

{% capture content %}
<article class="post">
	{% if page.hero-image.src %}
	<img class="image image--card post-card__image" src="{{ page.hero-image.src }}" alt="{{ page.hero-image.alt }} title="{{ page.hero-image.title }}">
	{% endif %}

	{{ page | markdownify }}
</article>
{% endcapture %}

{% include components/separator.html content=content start=true end=false class="spark" %}
