//
//
//  Colors
//  ---
//
//
// stylelint-disable indentation, function-comma-space-after, number-no-trailing-zeros

$color-deep-blush: (
  base: #dd6aa4,
  dark: #d85597,
  light: #e27fb1
);

$color-butterfly-bush: (
  base: #5e528f,
  dark: #53497f,
  light: #695b9f
);

$color-chambray: (
base: #3a6099,
dark: #335486,
light: #416cab
);

$color-fruit-salad: (
base: #539267,
dark: #4a825c,
light: #5ca272
);

$color-wedgewood: (
base: #449295,
dark: #3c8183,
light: #4ca3a6
);

$color-blue-dianne: (
base: #235160,
dark: #1c414d,
light: #2a6173
);

$color-ocean-green: (
  base: #489a8e,
  dark: #40897e,
  light: #50ab9e
);

$color-deco: (
  base: #cde19f,
  dark: #c3db8c,
  light: #d7e7b2
);

$color-celery: (
  base: #a0bf56,
  dark: #95b645,
  light: #aac668,
);

$color-fern-green: (
  base: #507f44,
  dark: #466e3b,
  light: #5a904d
);

$color-surf: (
  base: #b8d9b9,
  dark: #a7d0a9,
  light: #c9e2c9
);

$color-wild-rice: (
  base: #eae88e,
  dark: #e6e478,
  light: #eeeca3
);

$color-cream-can: (
  base: #f4bb5f,
  dark: #f2b147,
  light: #f6c577
);

$color-burnt-sienna: (
  base: #ec774a,
  dark: #ea6633,
  light: #ee8861
);

$color-golden-sand: (
  base: #f4cc60,
  dark: #f6d478,
  light: #f8dc90
);

$greys: (
    0: hsl(  0,  0, 100%),
    5: hsl(210, 20,  98%),
   10: hsl(220, 14,  96%),
   20: hsl(220, 13,  91%),
   30: hsl(216, 12,  84%),
   40: hsl(218, 11,  65%),
   50: hsl(220,  9,  46%),
   60: hsl(215, 14,  34%),
   70: hsl(217, 19,  27%),
   80: hsl(215, 28,  17%),
   90: hsl(221, 39,  11%),
   95: hsl(224, 71,   4%),
  100: hsl(  0,  0,   0%),
);

$greys--alpha: (
   20: hsla(0, 0, 10%, 0.2),
   40: hsla(0, 0, 10%, 0.4),
   60: hsla(0, 0, 10%, 0.6),
   80: hsla(0, 0, 10%, 0.8),
  100: hsla(0, 0, 10%, 1.0),
);

$color-grey--black:    -color($greys, 100);
$color-grey--darkest:  -color($greys,  90);
$color-grey--darker:   -color($greys,  80);
$color-grey--dark:     -color($greys,  70);
$color-grey:           -color($greys,  50);
$color-grey--light:    -color($greys,  40);
$color-grey--lighter:  -color($greys,  20);
$color-grey--lightest: -color($greys,  10);
$color-grey--white:    -color($greys,   0);

$color-text:        -color($greys, 0);
$color-text--light: -color($greys, 100);
$color-text--dark:  -color($greys, 30);

$color-box-shadow:   -color($greys--alpha, 20);
$color-text-shadow:  -color($greys--alpha, 50);
$color-grey-overlay: -color($greys--alpha, 70);

$color-primary:   -color($color-butterfly-bush);
$color-secondary: -color($color-deep-blush);
$color-tertiary:  -color($color-chambray);
$color-accent:    -color($color-fruit-salad);
$color-base:      -color($greys, 90);
$color-border:    -color($greys, 10);

// styleline-enable
