.page-about .hero {
  --_background-color: white;
}

.page-about .values {
  --_background-color: var(--c-tertiary--light);
}

.page-about .values .content {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-about .values .content {
    flex-direction: row;
  }

  .page-about .value {
    flex-basis: 50%;
    max-width: calc(50% - 1rem);
  }
}

.page-about .leadership {
  --_background-color: var(--c-secondary--light);
}

.page-about .leadership .content {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-about .leadership .content {
    flex-direction: row;
  }

  .page-about .leader {
    flex-basis: 33%;
    max-width: calc(100% / 3 - 2rem);
  }
}


