@layer component {
  .colophon .container--x {
    position: relative;
  }

  .colophon .container--x-wrapper {
    padding-block-start: var(--_padding-block-start, 0);
    padding-block-end: var(--_padding-block-end, 3rem);
  }

  @media screen and (min-width: 768px) {
    .colophon .container--x-wrapper {
      --_padding-block-end: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .colophon .container--x-wrapper {
      --_padding-block-end: 1rem;
    }
  }

  @media screen and (min-width: 1920px) {
    .colophon .container--x-wrapper {
      --_padding-block-end: 0rem;
    }
  }


  .colophon .container--y {
    display: flex;
  }

  .colophon .content {
    margin-inline: auto;
    padding-block-end: 0;
  }

  .contact-info {
    text-align: center;
    max-width: 65ch;
  }

  .colophon h2 {
    font-size: var(--fs-large);
  }

  .contact-info div {
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .contact-info dt,
  .contact-info dd {
    align-self: center;
    display: flex;
  }

  .contact-info svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    display: none;
  }

  .colophon.container--x {
    --_background-color: var(--c-accent--lightest);
  }

  .colophon a {
    color: white;
    /* font-weight: bold; */
  }
}
