@layer component {
  .colophon {
    --_background-color: var(--c-accent--lightest);
    --_background-color--dark: var(--c-accent--light);
  }

  .colophon a {
    color: white;
  }

  .colophon .container--vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 3rem;
  }

  .colophon .content {
    max-width: max-content;
  }

  .colophon .content {
    margin-inline: auto;
    padding-block-end: 0;
  }

  .contact-info {
    text-align: center;
    max-width: 65ch;
  }

  .colophon h2 {
    font-size: var(--fs-large);
  }

  .contact-info div {
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .contact-info dl {
    margin-block-end: 0;
  }

  .contact-info dt,
  .contact-info dd {
    align-self: center;
    display: flex;
  }
}
