@layer layout {
  .nav-jump-point {
    transform: translateY(-100px);
  }

  .nav-toggle {
    display: block;
    position: relative;
  }

  @media screen and (min-width: 1024px) {
    .nav-toggle {
      display: none;
    }
  }

  .nav-toggle__icon {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
  }

  .nav-toggle__icon--spacer {
    position: relative
  }

  .site-nav {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 10;
  }

  .site-nav__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0;
    row-gap: 0;
  }

  @media screen and (min-width: 1024px) {
    .site-nav {
      position: absolute;
    }

    .site-nav .container--x {
      padding-block: 1rem;
    }

    .site-nav .container--y {
      padding-inline: 1rem;
    }
  }

  .site-nav__logo {
    flex-shrink: 1;
    display: block;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    order: 2;
  }

  .site-nav__list {
    display: flex;
    justify-content: center;
    order: 4;
    flex-basis: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
  }

  @media screen and (min-width: 1024px) {
    .site-nav__list {
      order: 2;
      flex-basis: inherit;
      max-height: inherit;
    }
  }

  .site-nav__list div {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .site-nav__list div {
      padding-block-start: 0;
      flex-direction: row;
    }
  }

  .site-nav__list div > span {
    margin-inline: 1rem;

  }

  .site-nav__list div > span a {
    white-space: nowrap;
    display: block;
    padding-block: 1rem;
    color: black;
    text-decoration: none;
  }

  .site-nav__list div > span a > span {
    border-bottom: 2px solid transparent;
    display: block;
  }

  .site-nav__list div > span a:hover > span {
    border-color: var(--c-primary);
  }

  @media screen and (min-width: 1024px) {
    .site-nav__list div > span {
      width: inherit;
      border-radius: 3rem;
    }

    .site-nav__list div > span a {
      margin-bottom: 0;
      padding: 12px 30px 10px;
    }

    .site-nav__list div > span span {
      display: inline-block;
    }
  }

  @media screen and (min-width: 1024px) {
    .site-nav__list div {
      padding-block-start: 0;
      flex-direction: row;
    }
  }

  .site-nav__end-link {
    min-width: 2.5rem;
    margin-inline-end: 1rem;
    order: 3;
    text-decoration: none;
    color: black;
  }

  .site-nav__toggle {
    margin: 1rem;
  }
}


@layer component {
  .site-nav {
    background-color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03),
    0 0px 5px 0 rgba(0, 0, 0, 0.05),
    0 0px 2px 0 rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 1024px) {
    .site-nav {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

@layer decorator {
  .site-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Menu Open */
  /* --------- */
  .mobile-nav-input:checked ~ .site-nav > .site-nav__wrapper > .site-nav__container > .site-nav__list {
    max-height: 500px;
  }

  @media screen and (min-width: 1024px) {
    .mobile-nav-input:checked ~ .site-nav > .site-nav__wrapper > .site-nav__container > .site-nav__list {
      display: inherit;
    }
  }

  .mobile-nav-input:checked ~ .site-nav > .site-nav__wrapper > .site-nav__container > .site-nav__toggle .nav-toggle__icon--open {
    opacity: 0;
    pointer-events: none
  }

  .mobile-nav-input:checked ~ .site-nav > .site-nav__wrapper > .site-nav__container > .site-nav__toggle  .nav-toggle__icon--close {
    opacity: 1;
    pointer-events: initial
  }

  /* Menu Closed */
  /* ----------- */
  @media screen and (min-width: 1024px) {
    .mobile-nav-input:not(:checked) ~ .site-nav > .site-nav__wrapper > .site-nav__container > .site-nav__list {
      max-height: inherit;
      height: inherit;
    }
  }

  .mobile-nav-input:not(:checked) ~ .site-nav > .site-nav__wrapper > .site-nav__container > .nav-toggle .nav-toggle__icon--open {
    opacity: 1;
    pointer-events: initial;
  }

  .mobile-nav-input:not(:checked) ~ .site-nav > .site-nav__wrapper > .site-nav__container > .nav-toggle .nav-toggle__icon--close {
    color: red;
    background-color: red;
    opacity: 0;
    pointer-events: none;
  }
}

.site-nav .separator--block-end {
  color: white;
  height: inherit;
  top: 100%;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .site-nav .separator--block-end {
    display: none;
  }
}

.site-nav .separator--block-end svg {
  text-shadow: 10px 10px 10px red;
}
