.site-copyright .container--x-wrapper {
  padding: unset;
}

.site-copyright .container--y {
  padding-block: var(--_padding-block-start, 1rem) var(--_padding-block-end, 1rem);
  border-top: 1px solid var(--c-grey-20);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .site-copyright .container--y {
    --_padding-block-start: 1rem;
  }

  .site-copyright .container--y {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.site-copyright__nav > div {
  display: flex;
  justify-content: center;
  column-gap: 0.25rem;
}

.site-copyright__nav > div > span > a.site-nav__link {
  display: block;
}

.site-copyright {
  text-align: center;
}

.site-copyright__text {
  font-size: 0.875rem;
}

.site-copyright__nav .site-nav__link svg {
  width: 2rem;
  height: 2rem;
}

.site-copyright__nav > div > span > a.site-nav__link {
  text-decoration: none;
  color: var(--c-grey-20);
}
