@import './home--hero';

.pl, .lbe, .c-about {
  margin-block-start: -50px;
  margin-block-end: 50px;

  &__container {
    padding-block: -g(25);
  }
}

.pl, .lbe {
  &__container {
    margin-inline: auto;
    max-width: $size--max-container;
  }

  &__layout {
    gap: $gutter--xl;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      padding: $gutter--xl;
    }

    .content-card {
      margin-inline: $gutter--large;
      padding: $gutter--large;
      order: -9999;

      @media screen and (min-width: $bp-desktop) {
        margin-inline: 0;
        max-width: 512px;
        flex-shrink: 0;
        padding: $gutter--xl;
      }
    }

    .section-art {
      overflow: hidden;
      margin-inline-start: $gutter--large;
      border-radius: $radius--medium;
      width: 100%;
      min-width: 768px;
      order: 9999;

      @media screen and (min-width: $bp-desktop) {
        margin-inline: 0;
      }
    }
  }
}

.lbe {
  &__layout {
    justify-content: flex-end;
  }

  .content-card {
    @media screen and (min-width: 1024px) {
      order: 9999;
    }

    &__heading--text {
      @include highlight(transparentize(red, 0.8));
    }
  }

  .section-art {
    align-self: flex-end;
    margin-inline-end: $gutter--large;
    @media screen and (min-width: 1024px) {
      order: -9999;
    }
  }
}

.c-about {
  background-color: $color-grey--white;
  overflow: hidden;

  &__container {
    max-width: $size--max-container;
    width: 100%;
    @include margin-inline(auto);
    @include padding-inline($gutter--large);

    @media screen and (min-width: 640px) {
      @include padding-block($gutter--huge);
    }

    @media screen and (min-width: 1024px) {
      @include flex-row;
    }
  }

  &__layout {
    column-gap: $gutter--huge;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: $width--max;
    row-gap: $gutter--xl;
    @include margin-inline(auto);

    @media screen and (min-width: 1024px) {
      flex: none;
      min-width: 100%;
      row-gap: $gutter--xl;
      @include margin-inline(0);
    }
  }

  .c-about__content {
    @media screen and (min-width: 1024px) {
      grid-column-end: 1;
      width: 100%;
      max-width: $width--max;
    }

    .content-card {
      @media screen and (min-width: 1024px) {
        padding: $gutter--xl;
      }
    }
  }

  .c-about-art {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter--xl;
    margin-block-start: calc($gutter--xl * -1);

    @media screen and (min-width: 640px) {
      gap: $gutter--xl;
    }

    @media screen and (min-width: 1024px) {
      margin-block-start: 0;
      padding-block-start: 150px;
    }
  }

  .c-about-art__primary {
    width: 0;
    flex: 1 1 auto;

    @media screen and (min-width: 1024px) {
      margin-left: auto;
      width: auto;
      flex: none;
      display: contents;
    }
  }

  .c-about-art__secondary {
    display: contents;
  }

  .c-about-art__wrapper--two {
    order: -9999;
    display: flex;
    width: $width--gigantic;
    flex: none;
    justify-content: flex-end;
    align-self: flex-end;
  }

  .c-about-art__wrapper--three {
    display: flex;
    width: 24rem;
    flex: auto;
    justify-content: flex-end;
  }

  .c-about-art__wrapper--four {
    display: none;

    @media screen and (min-width: 640px) {
      display: block;
      width: 0;
      flex: auto;
    }
  }

  .c-about-art__secondary {
    @media screen and (min-width: 1024px) {
      grid-column: span 2 / span 2;
      grid-column-end: 2;
      margin-left: auto;
      display: flex;
      width: 36rem;
      align-items: flex-start;
      justify-content: flex-end;
      column-gap: $gutter--xl;
    }
  }

  .c-about-art__secondary div {
    width: auto;
    flex: none;
  }

  .c-about-art img {
    border-radius: $radius--huge;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1);
    max-width: none;
    object-fit: cover;
  }

  .c-about-art__wrapper--two img,
  .c-about-art__wrapper--four img {
    aspect-ratio: 4 / 3;
    width: 24rem;
  }

  .c-about-art__primary img,
  .c-about-art__wrapper--three img {
    aspect-ratio: 7 / 5;
    width: 37rem;
  }
}

.separator {
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 100dvw;
  overflow-x: hidden;
}

.pl {
  background-color: $color-primary;

  .separator {
    position: absolute;
  }

  .wave {
    @include wave($color-primary);
  }
}

.lbe, .c-about {
  background-color: red;

  .separator {
    background-color: $color-primary;
  }

  svg {
    position: absolute;
    bottom: -1px;
  }

  path {
    fill: red;
  }
}

.c-about {
  background-color: lime;

  .separator {
    background-color: red;
  }

  path {
    fill: lime;
  }
}
