---
layout: default
permalink: /physical-literacy/index.html
title: Physical Literacy
class: pl
css:
  - page-pl.css
js:
  - masonry.js
---
{% assign page = site.data.page-pl %}

{% capture hero %}
<header class="header">
	<h1 class="header__heading">{{ page.header }}</h1>
	<p class="header__subheading">{{ page.subheader }}</p>
</header>
{% endcapture %}

{% capture body %}
<div class="content masonry-stack">
	{{ page.body | markdownify }}

	{% for image in page.images %}
	<img class="image--card" src="{{ image.src | prepend: site.baseurl }}" alt="{{ image.alt }}">
	{% endfor %}
</div>
{% endcapture %}

{% include components/separator.html content=hero start=false end=true class='hero' %}
{% include components/separator.html content=body start=true end=true class='body' %}
