---
layout: default
permalink: /physical-literacy/index.html
title: Physical Literacy
class: pl
---
{% assign page = site.data.page-pl %}

<link rel="stylesheet" href="{{ '/assets/css/page-pl.css' | prepend: site.baseurl }}">

<div class="hero container--x">
	<div class="separator--wrapper">
		<div class="container--y">
			<header class="header">
				<h1 class="header__heading">{{ page.header }}</h1>
				<p class="header__subheading">{{ page.subheader }}</p>
			</header>
		</div>
	</div>

	<div class="separator--block-end">
		{% include components/corner-left-bottom.svg %}
	</div>
</div>

<div class="body container--x">
	<div class="separator--block-start">
		{% include components/corner-left-top.svg %}
	</div>

	<div class="separator--wrapper">
		<div class="container--y">
			<div class="content masonry-stack">
				{{ page.body | markdownify }}

				{% for image in page.images %}
				<img class="image--card" src="{{ image.src | prepend: site.baseurl }}" alt="{{ image.alt }}">
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="separator--block-end">
		{% include components/corner-right-bottom.svg %}
	</div>
</div>
