---
layout: default
permalink: /about/index.html
title: About
class: about
css:
  - page-about.css
---
{% assign page = site.data.page-about %}

{% capture hero-header %}
<header class="header">
	<h1 class="header__heading">{{ page.header }}</h1>
	<p class="header__subheading">{{ page.subheader }}</p>
</header>
{% endcapture %}

{% include components/separator.html content=hero-header start=false end=true class='hero' %}

{% capture body %}
	<blockquote>
		{{ page.body | markdownify }}
	</blockquote>

	<div class="values">
		{% for value in page.values %}
		<div class="value">
			<h2>{{ value.title }}</h2>
			{{ value.body | markdownify }}
		</div>
		{% endfor %}
	</div>
{% endcapture %}

{% include components/separator.html content=body start=true end=true class='body' %}

