---
layout: default
permalink: /about/index.html
title: About
class: about
css:
  - page-about.css
---
{% assign page = site.data.page-about %}

{% capture hero-header %}
<header class="header">
	<h1 class="header__heading">{{ page.header }}</h1>
	<p class="header__subheading">{{ page.subheader }}</p>
</header>
{% endcapture %}

{% include components/separator.html content=hero-header start=false end=true class='hero' %}

{% capture body %}
	<blockquote>
		{{ page.body | markdownify }}
	</blockquote>

	<div class="values">
		{% for value in page.values %}
		<div class="value">
			<h2>{{ value.title }}</h2>
			{{ value.body | markdownify }}
		</div>
		{% endfor %}
	</div>
{% endcapture %}

{% include components/separator.html content=body start=true end=true class='body' %}

{% comment %}
{% capture leadership %}
<div class="content--leadership">
	{% for staff_member in page.leadership %}
		{% for site_staff_member in site.staff_members %}
			{% if staff_member.staff== site_staff_member.name %}
			<div class="leader">
				<h2>{{ site_staff_member.name }}</h2>
				<p>{{ site_staff_member.title }}, {{ site_staff_member.content }}</p>
			</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
{% endcapture %}

{% include components/separator.html content=leadership start=true end=true class='leadership' %}
{% endcomment %}
