---
layout: default
permalink: /careers/index.html
title: Careers
class: careers
css:
  - page-careers.css
---
{% assign page = site.data.page-careers %}

{% capture hero %}
<header class="header">
	<h1 class="header__heading">{{ page.title }}</h1>
	<p class="header__subheading">{{ page.subheader }}</p>
</header>
{% endcapture %}

{% capture body %}
<article class="content">
	<div>
	<h2>Joining Dancing Light Studios</h2>
	{{ page.body | markdownify }}
	</div>

	<aside>
		{% if site.careers.size == 0 %}
		<section class="not-hiring">
			<h2>We're not currently hiring, but&hellip;</h2>

			{{ page.no_posts | markdownify }}
		</section>
		{% else %}
		<section class="listings">
			<h2>Open Postings</h2>
			{% for career in site.careers %}
			<div class="listing">
				<a href="{{ career.url }}">{{ career.title }}</a>
				<ul class="position-details"
					<li>{{ career.level }}</li>
					<li>{{ career.salary }}</li>
					<li>{{ career.location }}</li>
				</ul>
			</div>
			{% endfor %}
		</section>
		{% endif %}

		<section class="cta">
			<h2>How To Apply</h2>
			{{ page.job_post_how_to_apply_intro | markdownify }}

			{% include components/how-to-apply.html %}
		</section>
	</aside>
</article>
{% endcapture %}

{% include components/separator.html content=hero start=false end=true class="hero" %}
{% include components/separator.html content=body start=true end=true class="body" %}
