---
layout: default
class: styleguide
permalink: styleguide/index.html
published: false
---
<link rel="stylesheet" href="/assets/css/page-styleguide.css">

<div class="styleguide__table-of-contents">
  <a href="#jump-to-branding">Main Branding</a>
  <a href="#jump-to-colors-in-use">Colors</a>
  <a href="#jump-to-primary-typeface">Primary Typeface</a>
  <a href="#jump-to-complimentary-typeface">Complementary Type</a>
  <a href="#jump-to-display-typeface">Display Typeface</a>
  <a href="#jump-to-headings">Headings</a>
  <a href="#jump-to-paragraphs">Paragraphs</a>
  <a href="#jump-to-quotations">Quotations</a>
  <a href="#jump-to-lists">Lists</a>
  <a href="#jump-to-text-elements">Text Elements</a>
  <a href="#jump-to-tables">Tables</a>
  <a href="#jump-to-forms">Forms</a>
  <a href="#jump-to-buttons">Buttons</a>
</div>

{% include_relative _styleguide/_section file='_styleguide/branding.html' %}
{% include_relative _styleguide/_section file='_styleguide/colors-in-use.html' %}
{% include_relative _styleguide/_section file='_styleguide/primary-typeface.html' %}
{% comment %}
{% include_relative _styleguide/_section file='_styleguide/complimentary-typeface.html' %}
{% include_relative _styleguide/_section file='_styleguide/display-typeface.html' %}
{% endcomment %}
{% include_relative _styleguide/_section file='_styleguide/headings.html' %}
{% include_relative _styleguide/_section file='_styleguide/paragraphs.html' %}
{% include_relative _styleguide/_section file='_styleguide/quotations.html' %}
{% include_relative _styleguide/_section file='_styleguide/lists.html' %}
{% include_relative _styleguide/_section file='_styleguide/text-elements.html' %}
{% comment %}
{% include_relative _styleguide/_section file='_styleguide/tables.html' %}
{% endcomment %}
{% include_relative _styleguide/_section file='_styleguide/forms.html' %}
{% include_relative _styleguide/_section file='_styleguide/buttons.html' %}
